  body {
    font-family: "Lucida Grande";
  }
  
  a {
    text-decoration: none;
  }
  
  .clear {
    clear: left;
  }
  
  .container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
    color: rgb(0, 0, 0);
  }

  .container p {
    color:black;
    font-family: "system-ui";
  }

  .container h1 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-variant-caps: petite-caps;
  }
  
  .top-wrapper {
    padding: 180px 0 100px 0;
    background-image: url(http://www.bikinundangansemarang.com/wp-content/uploads/2019/01/kampus-paling-favorit-bikin-undangan-semarang-1024x613.jpg);
    background-size: cover;
    color:rgb(65, 45,45);
    text-align: center;
  }
  
  .container h1 {
    background: gray;
    border-radius: 25px;
    opacity: 0.7;
    font-size: 45px;
    letter-spacing: 5px;
    margin-bottom: 10px;
  }

  .top-wrapper .container h2 {
    background: rgb(212, 155, 155);
    padding: 10px 6px;
    border-radius: 10px;
    width: 35rem;
    text-align: center;
    margin: 10px 0;
    margin-left: 25%;
  }

  .top-wrapper h1 {
    background: gray;
    border-radius: 25px;
    opacity: 0.7;
    font-size: 45px;
    letter-spacing: 5px;
    margin-bottom: 10px;
  }
  
  .top-wrapper p {
    opacity: 0.7;
    margin-bottom: 3px;
  }
  
  .btn-wrapper {
    text-align: center;
    margin: 20px 0;
  }
  
  .btn-wrapper p {
    margin: 10px 0;
  }
  
  .signup {
    background-color: #239b76;
  }
  
  .facebook {
    background-color: #3b5998;
    margin-right: 10px;
  }
  
  .twitter {
    background-color: #55acee;
  }
  
  .btn {
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
    text-align: center;
  }
  
  .btn:hover {
    opacity: 1;
  }
  
  .fa {
    margin-right: 5px;
  }
  
  header {
    height: 65px;
    width: 100%;
    background-color: rgba(34, 49, 52, 0.9);
    position :fixed;
    top: 0;
    z-index: 10;
  }
  
  .header-left {
    float: left;
  }
  
  .header-right {
    float: right;
    margin-right: -25px;
  }
  
  .header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
  }
  
  .header-right a:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
  
  .lessons {
    background-color: white;
  }

  .lesson-wrapper {
    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: white;
    text-align: center;
  }
  
  .heading {
    padding-top: 80px;
    padding-bottom: 50px;
    color: #5f5d60;
  }
  
  .heading h2 {
    font-weight: normal;
    font-family: "Vintage";
    font-size: large;
  }
  
  .lesson {
    float: left;
    width: 25%;
  }
  
  .lesson-icon {
    position: relative;
  }
  
  .lesson-icon p {
    position: absolute;
    top: 44%;
    width: 100%;
    color: white;
  }
  
  .txt-contents {
    width: 80%;
    display: inline-block;
    margin-top: 15px;
    font-size: 15px;
    color: black;
  }
  
  .heading h3 {
    font-weight: normal;
  }
  
  .message-wrapper {
    border-bottom: 1px solid #eee;
    padding-bottom: 80px;
    text-align: center;
  }
  
  .message {
    padding: 15px 40px;
    background-color: #5dca88;
    cursor: pointer;
    box-shadow: 0 7px #1a7940;
  }
  
  .message:active {
    position: relative;
    top: 7px;
    box-shadow: none;
  }
  
  footer img {
    width: 125px;
  }
  
  footer p {
    color: white;
    font-size: 12px;
  }
  
  footer {
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: black;
  }

  .container p {
    color:white;
    font-family: "system-ui";
  }
  
  .menu-icon {
    color: white;
    float: right;
    font-size: 25px;
    padding: 21px 0;
    display: none;
  }
  
  span {
    opacity: 0;
    transition: all 0.4s ease;
  }

  span.fade {
    opacity: 1;
  }